{% extends 'layout.html' %}

{% block title %}
    Request Quote
{% endblock %}

{% block main %}
    <div class='container-fluid pt-2 pb-5'>

        <!-- boostrap5 loading spinner -->
        <div id='loadingSpinner' class='d-flex align-items-center justify-content-center'>
            <div>
            <strong>Loading...</strong>
            <div class='spinner-border ms-auto' role='status' aria-hidden='true'></div>
            </div>
        </div>
        <!-- /boostrap5 loading spinner -->

        <!-- instructional text -->
        <div class="container-fluid ps-0 mb-1">
            <div class="container-fluid container-instructions-start-bold">
                Enter a stock symbol or company name below to search for company data.
            </div>
            <div class="container-fluid container-instructions-start">
                Required fields
            </div>
        </div>
        <!-- /instructional text -->

        <!-- form -->
        <form id='QuoteForm' action='{% url "brokerage:quote" %}' method='get'>
            
            {{ form.non_field_errors }}

            <!-- symbol -->
            <div class='user_input_registration row'>
                <div class='col-sm-2 align-self-start text-start'>
                    <label for='id_symbol' class='form-label-start-req-bold'>Symbol:</label>
                </div>
                <div class='col-sm-8 col-md-6 col-lg-4'>
                    {{ form.symbol }}
                    {% if form.symbol.errors %}
                        <div class='text-danger mt-2'>
                            {% for error in form.symbol.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
            <!-- /symbol -->
            
            <!-- symbol validation -->
            <div class='user_input_registration row'>
                <label class='col-sm-2 form-label-start-req-bold'></label>
                <div class='col-sm-8 col-md-6 col-lg-4 container-input-validation d-none' id='symbol_validation' name='symbol_validation'>
                        <a></a>
                </div>
                <div class='col-sm-2 mt-2'>
                </div>
            </div>
            <!-- /symbol validation -->

            <!-- symbol_live_search -->
            <div class='user_input_registration row m-0'>
                <label class='col-sm-2 form-label-start-req-bold'></label>
                <div class='col-sm-8 col-md-6 col-lg-4 container-input-validation mb-0 d-none' id='symbol_live_search' name='symbol_live_search'>
                        <a></a>
                </div>
            </div>
            <!-- symbol_live_search -->

            <!-- cancel and submit buttons-->
            <div class='row'>
                <div class='col-sm-6 col-md-4 col-lg-3 mb-1'>
                    <a href='{% url "brokerage:index" %}' class='btn btn-secondary w-100 mt-1 mb-1'>Back</a>
                </div>
                <div class='col-sm-6 col-md-4 col-lg-3 mb-1'>
                    <button type='submit' class='btn btn-success w-100 mt-1 mb-1' id='submit_button' disabled>Find company</button>
                </div>
            </div>
            <!-- /cancel and submit buttons-->

        </form>

    </div>

{% endblock %}
